parameters:
    level: 5
    paths:
        - bin/
        - config/
        - migrations/
        - public/
        - src/
        - tests/
    excludePaths:
        - tests/bootstrap.php
    ignoreErrors:
        - '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:children\(\)\.$#'
        - '#CodedMonkey\\Dirigent\\Doctrine\\Entity\\AbstractMetadataLink given\.#'
        - '#^PHPDoc tag @var with type CodedMonkey\\Dirigent\\Doctrine\\Entity\\AbstractMetadataLink is not subtype of native type#'
        - '#^Property CodedMonkey\\Dirigent\\Doctrine\\Entity\\[a-zA-Z]+\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
        -
            message: '#^Class CodedMonkey\\Dirigent\\Doctrine\\Entity\\TrackedEntity has an uninitialized readonly property \$createdAt\. Assign it in the constructor\.$#'
            identifier: property.uninitializedReadonly
            count: 1
            path: src/Doctrine/Entity/TrackedEntity.php
        -
            message: '#^Readonly property CodedMonkey\\Dirigent\\Doctrine\\Entity\\TrackedEntity\:\:\$createdAt is assigned outside of the constructor\.$#'
            identifier: property.readOnlyAssignNotInConstructor
            count: 1
            path: src/Doctrine/Entity/TrackedEntity.php
        -
            message: '#^Left side of \|\| is always false\.$#'
            identifier: booleanOr.leftAlwaysFalse
            count: 1
            path: src/Encryption/Encryption.php
        -
            message: '#^Right side of \|\| is always false\.$#'
            identifier: booleanOr.rightAlwaysFalse
            count: 1
            path: src/Encryption/Encryption.php
